# ENERGY METER USING SVM ALGORITHM

# Loading Dataset

In [1]:
import pandas as pd
dataset = pd.read_csv("C:/Users/rushi/OneDrive/Desktop/Energy Meter.csv")
dataset

          0.0     0.0.1       0.0.2  NoLoad
0      0.0000  0.000000    0.000000  NoLoad
1      0.0000  0.000000    0.000000  NoLoad
2      0.0000  0.000000    0.000000  NoLoad
3      0.0000  0.000000    0.000000  NoLoad
4      0.0000  0.000000    0.000000  NoLoad
..        ...       ...         ...     ...
394  214.2647  0.847530  181.595761    Risk
395  214.6480  0.850669  182.594400    Risk
396  215.0313  0.850669  182.920461    Risk
397  211.9649  0.850669  180.311970    Risk
398  215.7979  0.850669  183.572584    Risk

[399 rows x 4 columns]

In [2]:
fileName = "C:/Users/rushi/OneDrive/Desktop/Energy Meter.csv"
names = ['voltage', 'current', 'power', 'class']
dataset = pd.read_csv(fileName, names=names)
dataset

      voltage   current       power   class
0      0.0000  0.000000    0.000000  NoLoad
1      0.0000  0.000000    0.000000  NoLoad
2      0.0000  0.000000    0.000000  NoLoad
3      0.0000  0.000000    0.000000  NoLoad
4      0.0000  0.000000    0.000000  NoLoad
..        ...       ...         ...     ...
395  214.2647  0.847530  181.595761    Risk
396  214.6480  0.850669  182.594400    Risk
397  215.0313  0.850669  182.920461    Risk
398  211.9649  0.850669  180.311970    Risk
399  215.7979  0.850669  183.572584    Risk

[400 rows x 4 columns]

# Selecting Columns

In [3]:
array = dataset.values
x = array[:,0:3]
y = array[:,3]

In [4]:
x[:10]

array([[0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.3833, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0]], dtype=object)

In [5]:
y[:10]

array(['NoLoad', 'NoLoad', 'NoLoad', 'NoLoad', 'NoLoad', 'NoLoad',
       'NoLoad', 'NoLoad', 'NoLoad', 'NoLoad'], dtype=object)

# Train Test Split

In [6]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.50, random_state=1)

In [7]:
xtrain[:10]

array([[212.7315, 0.84753, 180.296328195],
       [0.0, 0.0, 0.0],
       [214.648, 0.844391, 181.246839368],
       [217.3311, 0.841252, 182.8302225372],
       [216.1812, 0.841252, 181.8628668624],
       [0.0, 0.0, 0.0],
       [0.3833, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [212.7315, 0.17388, 36.98975322],
       [0.0, 0.0, 0.0]], dtype=object)

In [8]:
xtrain.shape

(200, 3)

In [9]:
xtest[:10]

array([[211.9649, 0.850669, 180.3119695181],
       [304.3402, 0.2494799999999999, 75.92679309599998],
       [213.1148, 0.841252, 179.28325172959998],
       [213.8814, 0.844391, 180.5995292274],
       [211.5816, 0.2494799999999999, 52.785377568],
       [212.7315, 0.844391, 179.62856401649998],
       [211.1983, 0.252315, 53.2884990645],
       [213.1148, 0.176985, 37.718122878],
       [0.0, 0.0, 0.0],
       [216.9478, 0.176985, 38.396506383]], dtype=object)

In [10]:
xtest.shape

(200, 3)

In [11]:
ytrain[:10]

array(['Risk', 'NoLoad', 'Risk', 'Risk', 'Risk', 'NoLoad', 'NoLoad',
       'NoLoad', 'Medium', 'NoLoad'], dtype=object)

In [12]:
ytrain.shape

(200,)

In [13]:
ytest[:10]

array(['Risk', 'Normal', 'Risk', 'Risk', 'Normal', 'Risk', 'Normal',
       'Medium', 'NoLoad', 'Medium'], dtype=object)

In [14]:
ytest.shape

(200,)

# Model Selection

In [15]:
from sklearn.svm import SVC
model = SVC(gamma='auto')
model.fit(xtrain, ytrain)

SVC(gamma='auto')

In [16]:
import pickle
filename = 'model.pkl'
pickle.dump(model, open(filename, 'wb'))

In [17]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(xtrain, ytrain)
print(result)

1.0

# Deployment

In [18]:
value = [[0,0,0]]
predictions = model.predict(value)
print(predictions[0])

NoLoad

In [19]:
value = [[214.6,0.24,52.9]]
predictions = model.predict(value)
print(predictions[0])

Normal

In [20]:
value = [[215.7979,0.176985,38.19299133]]
predictions = model.predict(value)
print(predictions[0])

Medium

In [21]:
value = [[215.7979,0.838113,180.8630254]]
predictions = model.predict(value)
print(predictions[0])

Risk

When we inserting the values Voltage, current, power in value, then the model deployes the class of the given values

# Thank You